Package: streamflix
Version: 1.1.1
Section: video
Priority: optional
Architecture: amd64
Depends: libgtk-3-0 (>= 3.24), libwebkit2gtk-4.1-0 (>= 2.40), gir1.2-webkit2-4.1 (>= 2.40), python3-gi (>= 3.50)
Maintainer: Richiestone18
Description: Streaming aggregator desktop app
 9 providers: CineCalidad, Pelisplusto, FlixLatam, SoloLatino,
 LatinAnime, LaCartoons, JKanime, IPTV, CableVisionHD
 Aspect ratio, fullscreen, HLS.js for IPTV

